<% include navbar.ejs %>

    <div class="jumbotron jumbotron-fluid m-4">
        <h1 class="display-4 text-center">The most visited place for Movie Subtitles!!</h1>
    </div>
    <div class="jumbotron jumbotron-fluid mx-4">
        <h2 class="text-center">Newest Movies</h2>
        <div class="card-deck m-4 text-center">
            <% for(var i=0; i < movies.length; i++) { %>
                <div class="card">
                    <a href="/subs/<%= movies[i].mid %>">
                        <img class="card-img-top" src="images/150x200" alt="movieimage cap">
                    </a>
                    <div class="card-body">
                        <a href="/subs/<%= movies[i].mid %>">
                            <h4 class="card-title">
                                <%= movies[i].title %>
                            </h4>
                        </a>
                        <% try {%>
                            <p class="card-text">
                                <small class="text-muted">
                                    Release:
                                    <%= new moment(movies[i].release_date).format('MMMM Do YYYY') %>
                                </small>
                            </p>
                            <%} catch (err) {%>
                                Unknown release date
                                <%=err.message%>
                                    </small>
                                    </p>
                                    <%}%>
                    </div>
                </div>
                <% } %>
        </div>
    </div>
    <% include footer.ejs %>