<% include navbar.ejs %>
    <style>
        .flexbox {
            display: flex;
            flex-wrap: wrap;
            justify-content: initial;
        }

        .list {
            width: 210px;
            list-style-type: none;
        }

        .search {
            margin-bottom: 0;
        }
    </style>

    <div class="jumbotron jumbotron-fluid">
        <h3 class="display-4 text-center">Search Results for Genre:
            <%=genre%>
        </h3>
        <ul class="flexbox">
            <% for(var i=0; i < movies.length; i++) { %>
                <div class="card m-2 col-sm-2">
                    <a href="/subs/<%= movies[i].mid %>">
                        <img class="card-img-top pt-2" src="/static/images/150x200" alt="movieimage cap">
                    </a>
                    <div class="card-body">
                        <a href="/subs/<%= movies[i].mid %>">
                            <h4 class="card-title">
                                <%= movies[i].title %>
                            </h4>
                        </a>
                        <% try {%>
                            <p class="card-text">
                                <small class="text-muted">
                                    Release:
                                    <%= new moment(movies[i].release_date).format('MMMM Do YYYY') %>
                                </small>
                            </p>
                            <%} catch (err) {%>
                                Unknown release date
                                <%= err.message%>
                                    </small>
                                    </p>
                                    <%}%>
                    </div>
                </div>
                <% } %>
        </ul>
    </div>

    <% include footer.ejs %>