<% include navbar.ejs %>
    <style>
        .flexbox {
            display: flex;
            flex-wrap: wrap;
            justify-content: initial;
        }

        .list {
            width: 210px;
            list-style-type: none;
        }

        .search {
            margin-bottom: 0;
        }
    </style>

    <div class="jumbotron jumbotron-fluid">
        <h3 class="display-4 text-center">Search Results for Genre:
            <%=genre%>
        </h3>
        <ul class="flexbox text-center">
            <% for(var i=0; i < movies.length; i++) { %>
                <li class="list mx-3">
                    <a href="/subs/<%= movies[i].mid %>"><img class="card-img-top" src="images/150x200" alt="movieimage cap">
                    </a>
                    <div class="card-body">
                        <a href="/subs/<%= movies[i].mid %>"><h4 class="card-title">
                            <%= movies[i].title %>
                        </h4></a>
                        <% try {%>
                            <p class="card-text">
                                <small class="text-muted">
                                    Release:
                                    <%= movies[i].release_date.toDateString() %>
                                </small>
                            </p>
                            <%} catch (err) {%>
                                Unknown release date
                                </small>
                                </p>
                                <%}%>
                    </div>
                </li>
                <% } %>
        </ul>
    </div>

    <% include footer.ejs %>